<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <title>Blockchain Election</title>
</head>
<body>
    <div class="container md-4">
        <div class="form-group">
            <label for="adminName">Admin Name</label>
            <input type="text" name="Name" id="adminName" class="form-control">
        </div>
        <div class="form-group">
            <label for="blockchainPort">Public Key</label>
            <input type="text" name="adminPubKey" id="adminPubKey" class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" value ="Create Election" id="adminCreate" class="btn btn-primary btn-block">
        </div>
    </div>
</body>
</html>